.grid{
    height: 100%;
    width: 40%;

    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.beforegrid{
    margin: auto;
}


.board{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



